<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d475b4">  <td>21/08/25 15:12:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_002SelectHpBrand.setUp()[pri:0, instance:com.amazon.testcases.TC_002SelectHpBrand@3c87521]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1344199921</td>   <td></td> </tr>
<tr bgcolor="d475b4">  <td>21/08/25 15:12:07</td>   <td>6227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002SelectHpBrand.verifySelectHpBrand(java.lang.String, java.lang.String)[pri:1, instance:com.amazon.testcases.TC_002SelectHpBrand@3c87521]">verifySelectHpBrand</td> 
  <td>main@1344199921</td>   <td></td> </tr>
<tr bgcolor="d475b4">  <td>21/08/25 15:12:26</td>   <td>25680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_002SelectHpBrand.teardown()[pri:0, instance:com.amazon.testcases.TC_002SelectHpBrand@3c87521]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1344199921</td>   <td></td> </tr>
</table>
