<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9af70">  <td>21/12/15 16:26:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001LoginTest.setUp()[pri:0, instance:com.amazon.testcases.TC_001LoginTest@1d548a08]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="a9af70">  <td>21/12/15 16:26:42</td>   <td>11630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001LoginTest.verifylogin(java.lang.String, java.lang.String)[pri:1, instance:com.amazon.testcases.TC_001LoginTest@1d548a08]">verifylogin</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="a9af70">  <td>21/12/15 16:26:48</td>   <td>18239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001LoginTest.teardown()[pri:0, instance:com.amazon.testcases.TC_001LoginTest@1d548a08]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="a9af70">  <td>21/12/15 16:26:49</td>   <td>19086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001LoginTest.setUp()[pri:0, instance:com.amazon.testcases.TC_001LoginTest@1d548a08]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="a9af70">  <td>21/12/15 16:27:04</td>   <td>33437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001LoginTest.verifylogin(java.lang.String, java.lang.String)[pri:1, instance:com.amazon.testcases.TC_001LoginTest@1d548a08]">verifylogin</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="a9af70">  <td>21/12/15 16:27:04</td>   <td>34315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001LoginTest.teardown()[pri:0, instance:com.amazon.testcases.TC_001LoginTest@1d548a08]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>21/12/15 16:27:06</td>   <td>35521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_002SelectHpBrand.setUp()[pri:0, instance:com.amazon.testcases.TC_002SelectHpBrand@16aa0a0a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>21/12/15 16:27:14</td>   <td>43557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002SelectHpBrand.verifySelectHpBrand(java.lang.String, java.lang.String)[pri:1, instance:com.amazon.testcases.TC_002SelectHpBrand@16aa0a0a]">verifySelectHpBrand</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>21/12/15 16:27:41</td>   <td>71043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_002SelectHpBrand.teardown()[pri:0, instance:com.amazon.testcases.TC_002SelectHpBrand@16aa0a0a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>21/12/15 16:27:42</td>   <td>71854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_003HpAddToCart.setUp()[pri:0, instance:com.amazon.testcases.TC_003HpAddToCart@780cb77]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>21/12/15 16:27:53</td>   <td>82606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003HpAddToCart.verifyHpAddToCart(java.lang.String, java.lang.String)[pri:1, instance:com.amazon.testcases.TC_003HpAddToCart@780cb77]">verifyHpAddToCart</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>21/12/15 16:28:17</td>   <td>107011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_003HpAddToCart.teardown()[pri:0, instance:com.amazon.testcases.TC_003HpAddToCart@780cb77]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="b0d1b6">  <td>21/12/15 16:28:18</td>   <td>107803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_004ViewCart.setUp()[pri:0, instance:com.amazon.testcases.TC_004ViewCart@691a7f8f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="b0d1b6">  <td>21/12/15 16:28:26</td>   <td>116226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004ViewCart.verifyViewCart(java.lang.String, java.lang.String)[pri:1, instance:com.amazon.testcases.TC_004ViewCart@691a7f8f]">verifyViewCart</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="b0d1b6">  <td>21/12/15 16:28:51</td>   <td>140725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_004ViewCart.teardown()[pri:0, instance:com.amazon.testcases.TC_004ViewCart@691a7f8f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="61c7e3">  <td>21/12/15 16:28:52</td>   <td>141547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_005SelectAppleBrand.setUp()[pri:0, instance:com.amazon.testcases.TC_005SelectAppleBrand@50a7bc6e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="61c7e3">  <td>21/12/15 16:29:01</td>   <td>150358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005SelectAppleBrand.verifySelectAppleBrand(java.lang.String, java.lang.String)[pri:1, instance:com.amazon.testcases.TC_005SelectAppleBrand@50a7bc6e]">verifySelectAppleBrand</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="61c7e3">  <td>21/12/15 16:29:27</td>   <td>176884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_005SelectAppleBrand.teardown()[pri:0, instance:com.amazon.testcases.TC_005SelectAppleBrand@50a7bc6e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="7d68a6">  <td>21/12/15 16:29:28</td>   <td>177773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_006AppleAddToCart.setUp()[pri:0, instance:com.amazon.testcases.TC_006AppleAddToCart@161b062a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="7d68a6">  <td>21/12/15 16:29:35</td>   <td>185030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_006AppleAddToCart.verifyAppleAddToCart(java.lang.String, java.lang.String)[pri:1, instance:com.amazon.testcases.TC_006AppleAddToCart@161b062a]">verifyAppleAddToCart</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="7d68a6">  <td>21/12/15 16:30:00</td>   <td>210224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_006AppleAddToCart.teardown()[pri:0, instance:com.amazon.testcases.TC_006AppleAddToCart@161b062a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
</table>
